[submodule "mini_trading_simulator"]
	path = mini_trading_simulator
	url = https://github.com/javimartinez0/mini_trading_simulator.git
[submodule "Cross-assets-pair-analyzer"]
	path = Cross-assets-pair-analyzer
	url = https://github.com/javimartinez0/Cross-assets-pair-analyzer.git
